.stuff_align{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    display: block !important;
}

.imgStyle {
    display: block;
    text-align: center;
}

.buttonStyle{
    width:150px;
}
